html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    font-family: "Lato", sans-serif;


}


 h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);


 }

