* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display',
        serif;
    font-size: 59px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    color: #000000;
}

p,
input,
textarea,
label {
    font-family: 'Poppins',
        sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #000000;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
}

input[type=submit] {
    background-color: #000000;
    padding: 15px 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;

}



input,
textarea {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #000000;
}

a {
    color: #000000;
    font-style: italic;
}

